<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

    <title>User</title>
</head>
<body th:style="'background:url(' + @{/assets/images/background.jpg} + ');'">
<th:block th:replace="user/userHeader :: header"/>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">User</h1>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div role="alert" th:if="${message}" th:class="${'alert alert-dismissible fade show ' + alertClass}">
                <strong th:text="${message}"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a href="https://daffodilvarsity.edu.bd/" class="btn " style="background-color: #E3F2FD; color: #171819"><img class="card-img-top img-thumbnail" th:src="@{/assets/images/logo-diu.png}" alt="Card image cap"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a href="http://diit.info/" class="btn " style="background-color: #E3F2FD; color: #171819"><img class="card-img-top img-thumbnail" th:src="@{/assets/images/logo-diit.png}" alt="Card image cap"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a href="http://daffodil.ac/" class="btn " style="background-color: #E3F2FD; color: #171819"><img class="card-img-top img-thumbnail" th:src="@{/assets/images/logo-dia.png}" alt="Card image cap"></a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a href="http://dipti.com.bd/" class="btn " style="background-color: #E3F2FD; color: #171819"><img class="card-img-top" th:src="@{/assets/images/logo-dipti.jpg}" alt="Card image cap"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a href="http://dis.edu.bd/" class="btn " style="background-color: #E3F2FD; color: #171819"><img class="card-img-top" th:src="@{/assets/images/logo-dis.png}" alt="Card image cap"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a href="http://daffodil-bd.com/#" class="btn " style="background-color: #E3F2FD; color: #171819"><img class="card-img-top" th:src="@{/assets/images/logo-dc.png}" alt="Card image cap"></a>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="user/userFooter :: footer"/>

</body>
</html>
