<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

    <title>Title</title>
</head>
<body>
<th:block th:replace="fragments/header :: header"/>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Financial DashBoard</h1>
    </div>
</div>

<div role="alert" th:if="${message}" th:class="${'alert alert-dismissible fade show ' + alertClass}">
    <strong th:text="${message}"></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Daffodil International University</h5>
                    <p class="card-text">Daffodil International University is a co-educational private university located in Dhanmondi, Dhaka, Bangladesh. It was established on 24 January 2002 under the Private University Act, 1992.</p>
                    <a href="https://daffodilvarsity.edu.bd/" class="btn" style="background-color: #E3F2FD; color: #171819">Visit</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Daffodil Institute of Information Technology</h5>
                    <p class="card-text">Daffodil Institute of Information Technology or DIIT is an IT education provider in Bangladesh established in 1997.</p>
                    <a href="http://diit.info/" class="btn " style="background-color: #E3F2FD; color: #171819">Visit</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Daffodil International Academy</h5>
                    <p class="card-text">Is a new pathway emerged from the oldest private institution, Daffodil Institute of IT (DIIT) which started its initial journey back in 1997</p>
                    <a href="http://daffodil.ac/" class="btn " style="background-color: #E3F2FD; color: #171819">Visit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Daffodil International Professional Training Institute</h5>
                    <p class="card-text">DIPTI will operate under Daffodil Computers Ltd (DCL). DCL started its business from 1990 and incorporated on January 26, 1998.</p>
                    <a href="http://dipti.com.bd/" class="btn " style="background-color: #E3F2FD; color: #171819">Visit</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Daffodil International School</h5>
                    <p class="card-text">Daffodil International School is owned by Daffodil Family, it was founded in 2000. It has branches in Chandpur, Dhanmondi, Gazipur, Shohanbag, and Uttara.</p>
                    <a href="http://dis.edu.bd/" class="btn " style="background-color: #E3F2FD; color: #171819">Visit</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Daffodil Computers Ltd.</h5>
                    <p class="card-text">Daffodil Computers Limited is the first initiative of Daffodil Group came into being in the year of 1990.</p>
                    <a href="http://daffodil-bd.com/#" class="btn " style="background-color: #E3F2FD; color: #171819">Visit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="loginModalLabel">Login</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<form th:action="@{/login}" method="POST" class="form-signin">-->
                    <!--<div class="form-group">-->
                        <!--<label for="username">Email</label>-->
                        <!--<input type="text" class="form-control" id="username" name="username" placeholder="Enter UserName" autofocus="autofocus">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="password">Password</label>-->
                        <!--<input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">-->
                    <!--</div>-->
                    <!--<button  class="btn btn-info" name="Submit" value="Login" type="Submit" th:text="Login">Submit</button>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<th:block th:replace="fragments/footer :: footer"/>

</body>
</html>
